.lecturer-view
	h2#update-game-settings.lecturer-view Update Game Setting

	- @key1 = data.doc_examples["V1::GameSettingsController"]["Lecturer"]["update"]["success"].keys[0]

	= example 'PATCH /assignments/1/game_settings', data.doc_examples["V1::GameSettingsController"]["Lecturer"]["update"]["success"][@key1]

	= authentication

	p Update the values of the project settings for an Assignment

	= http_request "PATCH", "assignments/:assignment_id/game_settings"

	= params param(required, "assignment_id", "Integer", "The id of the Assignment that the settings belong to"),
			param(optional, "points_log", "integer", "Points earned for submitting a log."),
			param(optional, "points_log_first_of_day", "integer", "Points earned for submitting the first log of the day."),
			param(optional, "points_log_first_of_team", "integer", "Points earned for submitting a log before the rest of the team."),
			param(optional, "points_log_first_of_assignment", "integer", "Points earned for submitting a log before every other student in the all the Projects of the Assignment"),
			param(optional, "points_peer_assessment", "integer", "Points earned for submitting a Peer Assessment"),
			param(optional, "points_peer_assessment_first_of_team", "integer", "Points earned for submitting the Peer Assessment before everyone on the team."),
			param(optional, "points_peer_assessment_first_of_assignment", "integer", "Points earned for submitting the Peer Assessment before every other student in all the Projects of the Assignment"),
			param(optional, "points_project_evaluation", "integer", "Points earned for submitting a Project Evaluation"),
			param(optional, "points_project_evaluation_first_of_team", "integer", "Points earned for submitting a Project Evaluation before the rest of the Team."),
			param(optional, "points_project_evaluation_first_of_assignment", "integer", "Points earned for submitting a Project Evaluation before every other student in the all the Projects of the Assignment")

	= errors error_authentication,
			 error_not_lecturer,
			 error_association,
			 error(422, "This assignment does not have game settings. First create them at POST /assignments/:assignment_id/game_settings"),
			 error(422, "One of the points is not an integer."),
			 error_invalid_params
