.content blockquote {
    padding: 2em 0;
    //font-size: 1.1em;
    font-size: 1em;
}

.content blockquote.request-label, .content blockquote.response-label {
    padding: 0;
	font-size: 1.2em;
    background-color: #393939;
    padding-top: 8px;
    margin-top: 70px;

	p {
		padding: 0px 28px;
	    background-color: #393939;
	    border: none;
	    padding-bottom: 8px;
	}
}

.content pre {
	padding: 14px 42px;
    text-overflow: ellipsis;
}

.content blockquote.response-label {
	margin-top: 0;
}

// Remove margin from the first one
h2.lecturer-view + blockquote.request-label, h2.student-view + blockquote.request-label {
	margin-top: 0;
}
