@import "screen";
@import "switch";
@import "custom_styling";

// Variables
$aside-authentication-color: #fcf8e3;
$aside-includes-color: #8fbcd4;
$aside-warning-text-color: white;

body {
	.student-view {
		display: none;
	}

	.lecturer-view {
		display: none;
	}

	&.student-mode .student-view {
		display: block;
	}

	&.lecturer-mode .lecturer-view {
		display: block;
	}
}

// Fix for student/lecturer buttons at the bottom
.tocify-wrapper .toc-footer > li {
	padding: 0;
}

@each $view in student-view, lecturer-view {
	.content > .#{$view} > h1, .content > .#{$view} > h2, .content > .#{$view} > h3, .content > .#{$view} > h4, .content > .#{$view} > h5, .content > .#{$view} > h6, .content > .#{$view} > p, .content > .#{$view} > table, .content > .#{$view} > ul, .content > .#{$view} > ol, .content > .#{$view} > aside, .content > .#{$view} > dl {
	    margin-right: 50%;
	    padding: 0 28px;
	    box-sizing: border-box;
	    display: block;
	    text-shadow: 0px 1px 0px #fff;
	}

	.content > .#{$view} > h2 {
		padding-top: 25px;
	}

	// Aside Classes
	.content .#{$view} aside {
	    padding-top: 1em;
	    padding-bottom: 1em;
	    text-shadow: 0 1px 0 #c6dde9;
	    margin-top: 1.5em;
	    margin-bottom: 1.5em;
	    background: #8fbcd4;
	    line-height: 1.6;
	}

	.content .#{$view} aside > img {
		width: 23px;
		height: 23px;
		padding-bottom: 2px;
		vertical-align: bottom;
	}


	.content .#{$view} aside.aside-authentication {
	    background-color: $aside-authentication-color;
	    text-shadow: 0 1px 0 #dfb0b3;
	}

	.content .#{$view} aside.aside-includes {
	    background-color: $aside-includes-color;
	    text-shadow: 0 1px 0 #dfb0b3;
	}

	.content .#{$view} aside.warning {
		color: $aside-warning-text-color;
	}
}

.content aside > img {
	width: 23px;
	height: 23px;
	padding-bottom: 2px;
	vertical-align: bottom;
}

.content img {
	max-height: 600px;
}

.content aside.warning {
	color: white;
}

