= example "GET /assignments/1/points", data.doc_examples["V1::PointsController"]["Lecturer"]["index_for_assignment"]["success"].first[1]

= authentication

p Get information about the Points of each Project in an Assignment. The Lecturer has to associated with the Project.

= http_request "GET", "assignments/:id/points"

= params param(required, "assignment_id", "Integer", "The id of the Assignment, for which the points for its projects will be returned.")

= errors error_authentication,
		 error_association("The id does not belong to any project associated with the current user")
