= example "GET /peer_assessments/:id", data.doc_examples["V1::PeerAssessmentsController"]["Student"]["show"]["success"].first[1]

= authentication
= includes_for 'peer_assessment', 'student'

p Get a specific Peer Assessment. Must be associated with the current user. The answers to the Peer Assessment are not available to the Students for privacy reasons.

= http_request "GET", "peer_assessments/:id"

= params param(required, "id", "Integer", "The id of the Peer Assessment to be returned")

= errors error_authentication,
		 error_includes,
		 error_association


