# PA Forms

<p class="short-description">'PA Forms (Peer Assessment Forms) are complted by Students for other Students'</p>

A PA Form is created by the Lecturer for each Iteration. Students have to assess their teammates with this form for every Iteration of the Project.

## Attributes

Parameter | Type | Description
--------- | ------- | -----------
iteration_id | Integer | The id of the Iteration that the PA Form belongs to
start_date | Integer | The id of the Student that was assessed
end_date | Integer | The id of the PAForm that was completed in the assessment
questions | JSON | The questions of the form. See "Questions Format" below for explanation

## Questions Format

Questions are submitted and saved as a JSON array of JSON objects that contain the 'question_id', the 'text' of the question, and its 'type_id', which corresponds to the id of one of the available QuestionTypes. Questions should be submitted in the following format:

`questions: [ { text: 'Question?', type_id: 2 } ]`

> Example

```json
<%= JSON.pretty_generate(JSON.parse({ "questions": [ { "text" => "Did this person work hard?", "type_id" => 2 }, { "text" => "Did they deliver the work in time?", "type_id" => 1 }, { "text" => "Die they exhbit leadership skills?", "type_id" => 2 } ] }.to_json)) %>
```

> The questions format will be validated, and input will be rejected if it does not follow the above example.

## Relationships

<img src="images/erd_pa_form.png" alt="PA Form Relationships">
