h2#get-single-unit Get Single Unit

= example 'GET /units/:id', data.doc_examples["V1::UnitsController"]["Lecturer"]["show"]["success"].first[1]

= authentication
= includes

p Returns a single Unit

= http_request "GET", "units/:id"

= params param(required, "id", "Integer", "The id of the Unit to be returned")

= errors error_includes,
		 error_authentication,
		 error_association
