# Question Types

<p class="short-description">'The currently available Question Types'</p>

The Question Type indicates whether a question should be anwered as free text, a number, or any other type that might come to exist.

## Attributes

Parameter | Type | Description
--------- | ------- | -----------
id | Integer | The id of the QuestionType. This is the ID that should be used in the questions.
category | String | The type of the question. Currently either 'text', or 'number'
friendly_name | String | The name that should be displayed to the users indicating the type of answer that is needed
