h2#reset-password-intro Reset Password

p To reset your password, first do a POST to /request_reset_password. This will cause an email to be sent to your email. Follow the link in that email, which will lead you to the reset your password page. After completing the form, the form should be submitted to PATCH /reset_password, along with the reset_password_token that was in the link that brought the user to the page.

h2#request-reset-password Reset Password - Send Reset Email

= example 'POST /request_reset_password', data.doc_examples["V1::AuthenticationsController"]["Lecturer"]["create"]["success"].first[1]

= example 'POST /request_reset_password', data.doc_examples["V1::AuthenticationsController"]["Lecturer"]["create"]["error"].first[1]

p Send a reset password email to the given email. The email will only be sent if it matches a user in the system. The sent email will contain a url for the user to visit, with a reset_password token.

= http_request "POST", "request_reset_password"

= params param(required, "email", "String", "The user's email that will be used to send the reset password email")

= errors error(403, "User was found, however they did not register with email/password, thus they have no password to reset."),
		 error(422, "Email is invalid, or email failed to be sent")
