h2#reset-password Reset Password - Change Password

- @key1, @key2 = data.doc_examples["V1::AuthenticationsController"]["Lecturer"]["update"]["error"].keys

= example 'POST /request_reset_password', data.doc_examples["V1::AuthenticationsController"]["Lecturer"]["update"]["success"].first[1]

= example 'POST /request_reset_password', data.doc_examples["V1::AuthenticationsController"]["Lecturer"]["update"]["error"][@key1]

= example 'POST /request_reset_password', data.doc_examples["V1::AuthenticationsController"]["Lecturer"]["update"]["error"][@key2]

p To successfully reset a user's password, the user's reset_password_token needs to be present in the params. To get that, the client must extract it from the params of the request that brought the user to the 'reset your password form'.

= http_request "PATCH", "reset_password"

= params param(required, "reset_password_token", "String", "Part of the url that brought the user to the 'reset your password page'"),
		 param(required, "password", "String", "The new Password"),
		 param(required, "password_confirmation", "String", "Must be equal to the password")

= errors error(400, "The request is missing the reset_password_token param"),
		 error(422, "password_reset_token, password or password_confirmation is invalid")
