= example 'GET /projects/1?includes=students', data.doc_examples["V1::ProjectsController"]["Lecturer"]["show"]["success"].first[1], "Get a Project with its Students"

= authentication
= includes_for_project_lecturer

p Returns a single project. Requires the project's ID. Contains the 'team_points' and the 'team_average'. If the field 'pending_project_evaluation' is true then the current user can submit a project evaluation for this project.

= http_request "GET", "projects/:id"

= params param(required, "id", "Integer", "The id of the Project to be returned")

= errors error_includes,
		 error_authentication,
		 error_association
