h2#get-single-project Get Single Project

= example 'GET /projects/1?includes=students', data.doc_examples["V1::ProjectsController"]["Lecturer"]["show"]["success"].first[1], "Get a Project with its Students"

= authentication
= includes_for_project

p Returns a single project. Requires the project's ID.

= http_request "GET", "projects/:id"

= params param(required, "id", "Integer", "The id of the Project to be returned")

= errors error_includes,
		 error_authentication,
		 error_association
