- @key1, @key2 = data.doc_examples["V1::ProjectsController"]["Lecturer"]["index"]["success"].keys

= example "GET /projects", data.doc_examples["V1::ProjectsController"]["Lecturer"]["index"]["success"][@key2]

//= example "GET /projects", data.doc_examples["V1::ProjectsController"]["Lecturer"]["index"]["error"].first[1]

= authentication
= includes_for_project_lecturer

p Returns all the Projects for the provided unit_id. Contains the 'team_points' and the 'team_average'. If the field 'pending_project_evaluation' is true then the current user can submit a project evaluation for this project.

= http_request "GET", "projects"

= params param(required, "unit_id", "Integer", "Return all Projects for a specific Unit")

= errors error_includes,
		 error_authentication
