= example "GET /projects", data.doc_examples["V1::ProjectsController"]["Lecturer"]["index"]["success"].first[1]

//= example "GET /projects", data.doc_examples["V1::ProjectsController"]["Lecturer"]["index"]["error"].first[1]

= authentication
= includes_for_project_lecturer

p Returns all the Projects for the provided assignment_id. Contains the 'team_points' and the 'team_average'. If the field 'pending_project_evaluation' is true then the current user can submit a project evaluation for this project.

= http_request "GET", "projects"

= params param(required, "assignment_id", "Integer", "Return all Projects for a specific assignment")

= errors error_includes,
		 error_authentication
