= example "GET /projects", data.doc_examples["V1::ProjectsController"]["Lecturer"]["index"]["success"].first[1]

= example "GET /projects", data.doc_examples["V1::ProjectsController"]["Lecturer"]["index"]["error"].first[1]

= authentication
= includes_for_project_lecturer

p Returns all the Projects for the provided assignment_id. Will return an error if assignment_id is missing from the params.

= http_request "GET", "projects"

= params param(required, "assignment_id", "Integer", "Return all Projects for a specific assignment")

= errors error_includes,
		 error_authentication,
		 error(403, "Missing assignment_id from the params"),
		 error(403, "The assignment_id is not one of the Lecturer's assignments")
