- @key1, @key2, @key3, @key4 = data.doc_examples["V1::ProjectsController"]["Lecturer"]["index"]["success"].keys

= example "GET /projects", data.doc_examples["V1::ProjectsController"]["Lecturer"]["index"]["success"][@key1]

= example "GET /projects", data.doc_examples["V1::ProjectsController"]["Lecturer"]["index"]["success"][@key4]

= authentication
= includes_for_project_lecturer

p Returns all the active Projects of the Lecturer. If the field 'pending_project_evaluation' is true then the current user can submit a project evaluation for this project. If 'pending_project_evaluations' is true, the response also contains the 'current_iteration_id' which indicated the iteration that can be evaluated. Also contains the previous and current rank of the Project by calculating the total points of each project in the Assignment.

= http_request "GET", "projects"

= errors error_includes,
		 error_authentication
